<template name="maps">
<h2>Add a new map</h2>
{{> quickForm collection="Maps" id="insertMapForm" type="insert"}}
<hr>
<h2>Maps</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Asset Name</th>
		</tr>
	</thead>
		<tbody>
{{#each maps}}
		<tr>
			<td>{{title}}</td>
			<td>{{assetName}}</td>
			<td class="text-center">
			<a href="{{pathFor 'map'}}">
				<button class="btn-sm btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</a>
		</td>
		</tr>		
	{{/each}}
	</tbody>
</table>
</template>